@page "/"
@inject TDo.ViewModels.TaskBlockViewModel ViewModel


<h1>Task List</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in ViewModel.Tasks)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Name</td>
                <td>@task.Status</td>
                <td>@task.Description</td>
            </tr>
        }
    </tbody>
</table>
