@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="d-flex align-items-center">
                <img src="~/avatar.png" alt="Profile Picture" class="rounded-circle" style="width: 40px; height: 40px; margin-right: 10px;">
                <span class="fw-bold">John Wick</span>
            </div>
        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
